<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>product</h3>
<p>
    <a th:href="@{/product/create}">
        Add new product
    </a>
</p>
<form action="/product/search" method="get">
    <tr>
        <td>search by name</td>
        <input type="text" name="kq">
        <button type="submit">commit</button>
    </tr>
</form>
<table id="customers">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>price</th>
        <th>producer</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.producer}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${product.id})}">edit</a></td>
        <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                DELETE
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/product/{id}/delete(id=${product.id})}"  novalidate="novalidate">
                                <p>Do you want to delete :</p>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">CLOSE</button>
                                    <button type="submit" class="btn btn-outline-danger">DELETE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td><a th:href="@{/product/{id}/view(id=${product.id})}">view</a></td>
    </tr>
    </tbody>
</table>
<script>
    // <%--    thêm value cho thẻ input--%>
    function getIdToDelete(name) {
        alert( name);
        document.getElementById("idDelete").value = id;
        document.getElementById("nameDelete").value = name;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>